@charset "utf-8";
/* CSS Document */

body{ padding:0; margin:0;background-color:#fff;font-size:14px;font-family:微软雅黑}
ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;color:#333333}
ul{list-style:none;}
img{border:0px;}
a{ text-decoration:none;color:#333333}
a:focus{outline:none;}
.clearfloat{clear:both; }

/*header开始*/
.header{
   width:100%;
   height:118px;
   background-color:#f6f0e7
}
.title{
   width:1200px;
   height:118px;
   margin:0 auto
}
.logo1{
   width:98px;
   height:97px;
   float:left;
   margin-top:10px
}
.title ul{
   width:1102px;
   height:97px;
   float:left
}
.title ul li{
   width:92px;
	 height:35px;
   float:left;
   margin:59px 0 0 90px;
	 text-align:center;
	 line-height:33px	
}
.title ul li a.first{
	color:#fff;
	background:url(../images/title_bg.gif) no-repeat
}
.title ul li a{
	display:block;
	width:92px;
	height:35px
}
.title ul li a:hover{
	color:#fff;
	background:url(../images/title_bg.gif) no-repeat
}
/*header结束*/
.banner{
   width:100%
}
/*middle开始*/
.middle{
   width:100%;
}
.middle_title{
   width:1200px;
   height:83px;
   margin:0 auto
}
.logo2{
   width:79px;
   height:83px;
   float:left
}
.middle_title ul{
   float:left;
   width:1121px;
   height:83px
}
.middle_title ul li{
   float:left;
   width:56px;
   height:14px;
   padding:55px 0 14px 38px
}
.middle_title ul span.last{
   float:right;
   width:190px;
   height:14px;
	 margin:54px 20px 11px 0
}
.border{
   width:100%;
   height:3px;
   border-top:1px #3c0001 solid;
   border-bottom:1px #3c0001 solid;
   float:left
}
.middle_content{
	width:888px;
	margin:0 auto
}
.pic{
	border:2px #3c0001 solid;
	display:block;
	margin:29px auto;
	margin-bottom:0
}
.middle_content p.num{
	width:186px;
	height:34px;
	margin:0 auto;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	text-indent:inherit;
	line-height:34px;
	background-color:#f6f0e7;
	border:1px #3c0001 solid;
	border-top:none
}
.middle_content h3{
	font-weight:normal;
	color:#3c0001;
	margin:5px 0 3px 0
}
.middle_content p{
	text-indent:2em;
	line-height:23px;
}
.table{
	width:660px;
	height:125px;
	border:2px #ccc solid;
	color:#4c5b5d;
	margin:8px 0 0 80px;
  border-collapse:collapse;
	margin-bottom:38px
}
.table td{
	width:330px;
	border:2px #ccc solid
}
/*footer开始*/
.footer{
	 width:100%;
	 height:215px;
	 background-color:#626262
}
.footer_con{
	 width:1200px;
	 height:175px;
	 margin:0 auto;
	
}
.f_con_l{
	 width:852px;
	 height:175px;
	 float:left	 
}
.f_con_l ul{
	 float:left;
	 margin:33px 42px 0 42px;
	 
}
.f_con_l ul li{
	 color:#fff;
	 text-align:center;
	 line-height:23px
	 
}
.f_con_l ul li.top{
	 font-size:18px;
	 padding-bottom:10px
}
.f_con_l ul li a{
	 text-decoration:underline;
	 color:#fff
}
.border4{
	 width:0px;
	 height:114px;
	 margin-top:32px;
	 float:left;
	 border:1px #fff solid
}
.f_con_r{
	 width:346px;
	 height:175px;
	 float:left	 
}
.f_con_r ul{
	 margin:33px 0 0 71px	 
}
.f_con_r ul li{
	 color:#fff;
	 font-size:18px;
	 line-height:38px
}
.f_con_r ul li.phone{
	 font-size:22px
}
.copyright{
	 color:#fff;
	 text-align:center
}



