/*全局样式*/
body{padding:0; margin:0; font-size:14px;}
div,img,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p{padding:0; margin:0;}

ul{list-style:none;}
a{text-decoration:none;color:#4c4c4c}
/*清除浮动*/
.clearfloat{border:0px;clear:both; height:0px; font-size:1px; line-height:0px;}

/*图片自适应*/
img{border:0;/* max-width:100%;height:auto;display:block; */} 

/*解决ie/firefox 浏览器中，点击一个链接后有一个虚线边框的问题*/
a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */ 　
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　
a:focus { -moz-outline-style: none; } /* IE不支持 */ 
a:focus {outline:none; -moz-outline:none;}

/*解决chrome 浏览器，当文本框，多行文本获得焦点的时候，会有一个边框的问题*/
input,textarea{outline:none;}




*:focus{outline:none}
::-moz-placeholder { color: #999; }/*Firefox 19+*/
:-moz-placeholder { color: #999; }/*Firefox 18-*/
:-ms-input-placeholder {color:#999};  /* Internet Explorer 10+ */  
::-webkit-input-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }

/*ie /ff 浏览器，点击链接后，有一个虚线边框的问题*/
a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */ 　
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　
a:focus { -moz-outline-style: none; } /* IE不支持 */ 
a:focus {outline:none; -moz-outline:none;}




/*middle开始*/
.content{
	width:1200px;
	margin:50px auto 0 auto
}
/*左边缩略图*/
.pro_img{
	width:400px;
	height:506px;
	margin-right:30px;
	float:left;
}
#pro_img > img{
	width: 400px;
	height: 400px;
}
.pro_img img.img_big{
	display: block;
}
.pro_img img {
	display: none;
	cursor: pointer;
}
.pro_img ul.img_thumb{
	float: left;
}
.pro_img ul.img_thumb li a img{
	display: block;
}
.pro_img ul.img_thumb li{
	float:left;
	margin:40px 37px 15px 0
}
.pro_img ul.img_thumb li:nth-child(5n){
	margin-right:0
}
.pro_img ul.img_thumb li a img:hover{
	border:1px solid #ff4466;
	margin:-1px
}
/*右边详情*/
.pro_wrap{
	width:770px;
	height:506px;
	float:right
}
.pro_wrap h1.detail{
	height:18px;
	font-size:18px;
	line-height:18px
}
.pro_wrap ul.keywords{
	width:770px;
	height:40px;
	line-height:40px
}
.pro_wrap ul.keywords li{
	float:left;
	color:#ff4466;
	font-size:16px;
	margin-right:30px
}
/*打折券 价格*/
.pro_price{
	width:770px;
	height:113px;
	background-color:#e9e9e9
}
.pro_price div.coupon{
	font-size:12px;
	height:50px;
	line-height:50px
}
.pro_price div.coupon img{
	margin:17px 12px 0 0;
	float:left
}
.pro_price div.coupon a{
	float:right;
	color:#ff4466;
	padding-right:31px;
	background:url(../images/pro_details_111.jpg) no-repeat 50px 17px
}
.pro_wrap dl{
	width:770px
}
.pro_wrap dl dt{
	float:left;
	color:#b6b6b6;
	width:110px;
	margin-right:12px
}
.pro_price dl.price{
	height:15px;
	line-height:15px;
	margin-bottom:9px
}
.pro_price dl.price dd{
	color:#4c4c4c
}
.pro_price dl.price dd em{
	font-style:normal
}
.pro_price dl.price dd span{
	text-decoration:line-through
}
.pro_price dl.coupon_price{
	height:25px;
	line-height:25px
}
.pro_price dl.coupon_price dd{
	color:#da0707
}
.pro_price dl.coupon_price dd em{
	font-style:normal
}
.pro_price dl.coupon_price dd span{
	font-size:24px
}
/*运费*/
.pro_wrap div dl.freight{
	height:44px;
	line-height:44px
}
.pro_wrap div dl.freight dd{
	color:#4c4c4c
}
.pro_wrap div dl.freight dd span.add_r{
	padding-right:20px;
	background:url(../images/shop_list_33.jpg) no-repeat 35px 8px;
	cursor:pointer
}
/*月销量 评价*/
.sellRates{
	width:770px;
	height:35px;
	border-top:1px dashed #e9e9e9;
	border-bottom:1px dashed #e9e9e9
}
.sellRates li{
	float:left;
	width:255px;
	text-align:center;
	line-height:35px;
	color:#b6b6b6
}
.sellRates li.allrates{
	border-left:1px solid #b6b6b6;
	border-right:1px solid #b6b6b6;
	cursor:pointer
}
.sellRates li span.count{
	color:#da0707
}
.sellRates li.pointcount span.count{
	color:#29f529
}
/*尺码*/
.pro_skin dl.size{
	height:60px
}
.pro_skin dl.size dd ul{
	margin-top:15px
}
.pro_skin dl.size dd ul li{
	float:left;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	border:1px solid #828080;
	margin-right:47px
}
/*颜色*/
.pro_skin dl.colorstyle{
	height:55px
}
.pro_skin dl.colorstyle dd ul li{
	float:left;
	width:38px;
	height:38px;
	border:1px solid #828080;
	margin-right:54px
}
/*数量*/
.pro_skin dl.amount{
	height:30px
}
.pro_skin dl.amount dd{
	line-height:30px;
	color:#b2b2b2
}
.pro_skin dl.amount dd input{
	float:left;
	width:36px;
	height:26px;
	border:1px solid #828080;
	text-align:center;
	line-height: 26px
}
.pro_skin dl.amount dd span.amount_btn{
	display:block;
	float:left;
	width:20px;
	height:30px;
	margin:0 6px 0 5px
}
.pro_skin dl.amount dd span.amount_btn span{
	display:block;
	float:left;
	width:18px;
	height:8px;
    border:1px solid #828080;
	text-align:center;
	line-height:8px;
	cursor:pointer
}
.pro_skin dl.amount dd span.amount_btn span.amount_increase{
	background: url(../images/pro_details_841.jpg) no-repeat 4px 1px;
}
.pro_skin dl.amount dd span.amount_btn span.amount_decrease{
	margin-top:10px;
	background: url(../images/pro_details_842.jpg) no-repeat 4px 1px;
}
.pro_skin dl.amount dd em{
	font-style:normal
}
/*购买*/
.buy{
	width:500px;
	height:40px;
	margin:0 auto
}
.buy a{
	display:block;
	float:left;
	width:178px;
	height:38px;
	border:1px solid #da0707;
	text-align:center;
	line-height:38px;
	margin:40px 28px 0 28px
}
.buy a.buy_btn{
	background-color:#ffeded;
	color:#da0707
}
.buy a.basket_btn{
	background-color:#da0707;
	color:#fff
}
/*服务项目*/
.service{
	width:1200px;
	height:15px;
	clear:both;
	margin-bottom:55px
}
.service li{
	float:left;
	padding-right:85px
}
.service li:first-child{
	width:50px;
	padding-left:15px;
	background:url(../images/pro_details_93.jpg) no-repeat 0 4px
}
.service li:last-child{
	width:70px;
	padding:0;
	background:url(../images/shop_list_33.jpg) no-repeat 58px 8px 
}
.service li a{
  color:#b8b8b8
}
/*商品详情*/
.pro_details{
	width:1200px
}
.tabbar{
	width:1200px;
	height:35px;
	border-top:1px solid #b2b2b2;
	border-bottom:1px solid #b2b2b2
}
.tabbar ul li{
	float:left;
	height:35px;
	font-size:18px;
	line-height:35px
}
.tabbar ul li a{
	color:#000
}
.tabbar ul li a em{
	font-style:normal;
	color:#ff4466
}
.tabbar ul li.active a{
	color:#ff4466	
}
.tabbar ul li:first-child{
  margin-right:460px
}
.tabbar ul li:last-child{
	float:right
}
/*评价*/
.rate_header{
	width:1198px;
	height:148px;
	border:1px solid #b2b2b2;
	margin-top:19px
}
.rate_score{
	float:left;
	width:79px;
	height:148px;
	text-align:center;
	border-right:1px solid #b2b2b2
}
.rate_score h4{
	color:#4c4c4c;
	font-weight:normal;
	padding-top:40px
}
.rate_score h1{
	font-weight:normal;
	color:#ff4466
}
.stars{
	color:#da0707
}
.rate_tag_label{
	float:left;
	width:49px;
	height:148px;
	border-right:1px solid #b2b2b2
}
.rate_tag_label span{
	display:block;
	width:15px;
	color:#b2b2b2;
	margin:38px auto 0 auto
}
.rate_tag_list{
	float:left;
	width:992px;
	height:148px;
	margin-left:30px
}
.rate_tag_list p{
	float:left;
	width:135px;
	height:28px;
	border:1px solid #c0c0c0;
	margin:30px 60px 0 0
}
.rate_tag_list p a{
	display:block;
	width:135px;
	height:28px;
	text-align:center;
	line-height:28px;
	color:#da0707
}
.rate_tag_list p:hover{
	border:1px solid #da0707
}
.drop_down{
	float:right;
	width:25px;
	height:25px;
	margin:32px 3px 0 0;
	background:url(../images/comments_954.jpg) no-repeat 3px 7px #4a2f1c;; 
}
.drop_down a{
	display:block;
	width:25px;
	height:25px;
}
/*评论分类*/
.rate_toolbar{
	height:24px;
	line-height:24px;
	background-color:#e4e4e4;
	padding:10px 30px;
	border:1px solid #b2b2b2
}
.rate_toolbar_left label{
	margin-right:28px
}
.rate_toolbar_right{
	float:right
}
.rate_toolbar_right input{
	display: none;
}
.rate_toolbar_right img{
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 5px;
	margin-right: 6px;
}
.rate_toolbar_right label{
	margin-right:72px
}
.rate_sort{
	float:right;
	width:84px;
	height:28px;
	line-height:28px;
	padding-left:14px;
	border:1px solid #4c4c4c;	
	background: url(../images/comments_955.jpg) no-repeat 66px 9px;
	cursor: pointer;
}
.rate_grid{
	width:1130px;
	padding:0 29px 0 41px
}
.rate_grid p{
	width:1000px
}
.rate_grid > ul > li{
	border-bottom:1px solid #d1d1d1;
	padding-top:20px
}
.photos_size_user{
	height:55px;
	margin:20px 0 10px 0
}
.rate_photos li{
	float:left;
	margin-right:10px;
	cursor: pointer;
}
.rate_size_user{
	padding-top:35px;
	float:right
}
.rate_size_user li{
	float:left;
	margin-left:35px;
	color:#b8b8b8
}
.rate_size_user li span{
	color:#4c4c4c
}
.rate_reply{
	width:972px;
	color:#ff4466;
	margin-bottom:8px;
	padding-left:28px
}
/*翻页*/
.pagination{
	clear:both;
	width:498px;
	height:38px;
	margin:30px auto 0 auto
}
.pagination span{
	display:block;
	float:left;
	margin-right:30px
}
.pagination a{
	display:block;
	float:left;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	margin-right:21px;
	border:1px solid #b2b2b2
}
.pagination a.disabled{
	width:80px
}
.pagination a.next{
	width:80px
}
.pagination a.current{
	color:#ff4466
}
.pagination a:hover{
	color:#ff4466
}
/*畅销精选*/
.hot_pro{
  clear:both;
	width:1200px	
}
.hot_pro div{
	height:75px;
	font-size:30px;
	line-height:75px;
	text-align:center;
	color:#ff4466;
	margin-top:30px;
	border-bottom:2px solid #ffa8b8
}
.hot_pro div p span{
	color:#000
}
.hot_pro ul{
	width:1200px;
	height:635px;
	margin-top:35px
}
.hot_pro ul li{
	float:left;
	margin:0 25px 30px 0;
	position:relative
}
.hot_pro ul li:nth-child(5n){
	margin-right:0
}
.hot_pro ul li a{
	display:block;
	padding-bottom:20px;
	z-index:1	
}
.hot_pro ul li a.hot_pro_list{
	display:block;
	width:35px;
	height:28px;
	padding:0;
	background-color:#7d0b1b;
	color:#fff;
	text-align:center;
	position:absolute;
	top:308px;
	left:185px;
	z-index:5
}
.hot_pro ul li span{
	display:block;
	width:128px;
	height:31px;
	line-height:31px;
	float:left
}
.hot_pro ul li p{
	float:left;
	color:#ff4466;
	font-size:24px
}
.hot_pro ul li em{
	font-style:normal;
	font-size:12px
}













