/*全局样式*/
body{padding:0; margin:0; font-size:14px;font-family: 微软雅黑}
div,img,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,p{padding:0; margin:0;}

ul{list-style:none;}
a{text-decoration:none;color:#4c4c4c}
/*清除浮动*/
.clearfloat{border:0px;clear:both; height:0px; font-size:1px; line-height:0px;}

/*图片自适应*/
img{border:0;/* max-width:100%;height:auto;display:block; */} 

/*解决ie/firefox 浏览器中，点击一个链接后有一个虚线边框的问题*/
a{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */ 　
a{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */ 　
a:focus { -moz-outline-style: none; } /* IE不支持 */ 
a:focus {outline:none; -moz-outline:none;}

/*解决chrome 浏览器，当文本框，多行文本获得焦点的时候，会有一个边框的问题*/
input,textarea{outline:none;}

/*input框number属性去掉上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
input[type="number"]{-moz-appearance: textfield;}

*:focus{outline:none}
::-moz-placeholder { color: #999; }/*Firefox 19+*/
:-moz-placeholder { color: #999; }/*Firefox 18-*/
:-ms-input-placeholder {color:#999};  /* Internet Explorer 10+ */  
::-webkit-input-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }



/*middle开始*/
.content{
	width:1200px;
	margin:0 auto
}
.pay_failure{
	width:430px;
	margin:147px auto 0 auto
}
.pay_failure img{
	float:left;
	margin:0 24px 10px 0
}
.pay_failure p{
	font-size:36px;
	letter-spacing:8px;
	margin-bottom:5px
}
.pay_failure span{
	color:#ff4466
}
.pay_failure div{
	clear:both;
	width:246px;
	height:51px;
	line-height:51px;
	text-align:center;
	border:1px solid #b2b2b2;
	margin-top:46px
}
#click_detail{
	color:#4c4c4c;
}
#click_detail a{
	color:#ff4466;
	text-decoration:underline
}
#repay{
	float:left
}
#repay a{
	display:block;
	width:246px;
	height:51px;
	background-color:#ff4466;
	color:#fff;
	font-size:24px
}
.pay_failure span.return_page a{
	color:#ff4466;
	text-decoration:underline;
	float:left;
	margin:74px 0 0 48px
}



